[submodule ".vim/pack/NERDTree/start/nerdtree"]
	path = .vim/pack/NERDTree/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/vim-fugitive/start/vim-fugitive"]
	path = .vim/pack/vim-fugitive/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/coc.nvim/start/coc.nvim"]
	path = .vim/pack/coc.nvim/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
